#box1{
    background: linear-gradient(to right, #00c9ff, #92fe9d);
    color: white;
    padding: 20px;
    width: 100%;   
    height: 15px;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align-last: center;
    border: 2px solid black;
    margin: auto;

    font-size: 20px;
}
#pos{
    text-align: center;
    padding: 45px;
}
#main{
    background: white;
    color: white;
    padding: 20px;
    width: 96%;
    height: 300px;
     margin: auto;
    border: 2px solid black;
    font-size: 20px;
}
#relative{
    border: 2px solid black;
    width: 93%;
    height: 50px;
    background-color: rgb(158, 181, 158);
    font-size: 22px;
    position: relative;
    left: 50px;
    top: -2em;

    display: flex;
    justify-content: center;   /* Horizontal center */
    align-items: center;       /* Vertical center */
}


#static{
    border: 2px solid rgb(49, 32, 32);
    width: 93%;
    height: 50px;
    background-color: rgb(121, 128, 121);
    font-size: 22px;
    position: relative;
    left: 50px;
    top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#absolute{
    border: 2px solid rgb(49, 32, 32);
    width: 200px;
    height: 100px;
    background-color: rgb(121, 128, 121);
    font-size: 22px;
    position: relative;
    left: 1100px;
    top: -5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

